<html>
  <head>
    <title>Specimen Profile</title>
  </head>
  <body>
    <a href="/">Home</a>

    <h1>Specimen Profile:</h1>
      <label>Id: <%= specimen.id %> <br>
      </label>
      <label>Name: <%= specimen.name %> <br>
      </label>
      <label>Age: <%= specimen.age %> <br>
      </label>
      <label>Notes: <%= specimen.notes %>
      </label>
  </body>
</html>